[project]
	description = Java utility library for parsing DNS names, IP and HW addresses. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dmitri Priimak (priimak)
[access "refs/for/refs/*"]
	read = group user/Dmitri Priimak (priimak)
	push = group user/Dmitri Priimak (priimak)
	label-Code-Review = -2..+2 group user/Dmitri Priimak (priimak)
	label-Verified = -1..+1 group user/Dmitri Priimak (priimak)
	rebase = group user/Dmitri Priimak (priimak)
	removeReviewer = group user/Dmitri Priimak (priimak)
	submit = group user/Dmitri Priimak (priimak)
[access "refs/heads/*"]
	read = group user/Dmitri Priimak (priimak)
	create = group user/Dmitri Priimak (priimak)
	push = +force group user/Dmitri Priimak (priimak)
	pushMerge = group user/Dmitri Priimak (priimak)
[access "refs/tags/*"]
	push = +force group user/Dmitri Priimak (priimak)
	pushTag = group user/Dmitri Priimak (priimak)
	pushSignedTag = group user/Dmitri Priimak (priimak)
